.spacer{
	height: 50px;
}
.Header_Menu{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	
	
}
@font-face {
font-family: "CustomFont";
src: url("DRAGONDREAMRColors\ .ttf");

}
.Body_Content{
	margin: 50px;
	
}
body{
	font-family: 'CustomFont';
	/*background-image: url("../images/2000NOBORDER.png");*/
	background-color: #390e5c;
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	flex-direction: column;
	display: flex;
}

#Header{
	border-radius: 50px;
	border-color: black;
	font-weight: 900;
	background-color: #6E1BB1;
	position: relative;
	right: 0;
	left: 0;
	top: 50px;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	color: #00F301;
	
}
#Body{
	color: #00F301;
	flex: 1 0 auto;

	background-color: #6E1BB1;
	border-radius: 50px;
	/*background-color: #23CE6B;*/
	margin: 0 auto;
	height: auto;
	min-height: 500px;
	margin-bottom: 25px;
	margin-top: 100px;
	margin-left: center;
	width: 50%;
	

}
#LeftIndex{
	background-color: #00F301;
	height: 70.5%;
	position: fixed;
	z-index: 1;
	top: 100px;
	left: 0;
	width: 75px;
	overflow-x: hidden;
	text-align: center;
	border: 10px solid;
	border-color: black;

}

#Footer{
	flex-shrink: 0;
	height: 50px;
	color: white;
	
	margin-bottom: 0px;
	border-color: black;
	
	
	text-align: center;
	

}

a:link, a:visited {
  
  color: #00F301;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;