












.spacer{
	height: 50px;
}
.Header_Menu{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;	
}
.Social_Menu{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	
	
}
@font-face {
font-family: "CustomFont";
src: url("DRAGONDREAMRColors\ .ttf");

}
.Body_Content{
	margin: 50px;
	
}
.Social_Icon{
	font-size: 50px;
	
}
#Logo{
	display: block;
	margin: auto;
	width: 350px;;
	height: 300px;
}
#Projects_Menu{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	
	
}
body{
	font-family: 'CustomFont';
	/*background-image: url("../images/2000NOBORDER.png");*/
	background-color: #390e5c;
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	max-height: 500px;
	flex-direction: column;
	display: flex;
}

#Header{
	border-radius: 50px;
	
	font-weight: 900;
	background-color: #6E1BB1;
	position: relative;
	right: 0;
	left: 0;
	top: 50px;
	
	margin: 0 auto;
	text-align: center;
	width: 80%;
	color: #00F301;
	
}
#Body{
	color: #00F301;
	flex: 1 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #6E1BB1;
	border-radius: 50px;
	/*background-color: #23CE6B;*/
	margin: 0 auto;
	height: auto;
	min-height: 500px;
	margin-bottom: 25px;
	margin-top: 100px;
	margin-left: center;
	width: 50%;
	

}


#Footer{
	flex-shrink: 0;
	height: 50px;
	color: white;
	
	margin-bottom: 0px;
	
	
	
	text-align: center;
	

}

a:link, a:visited {
  
  color: #00F301;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;}
  
  
   @media only screen and (max-width: 900px) {
	  #Logo{
			
			width: 250px;;
			height: 200px;
		}
		#Body{
			
			font-size: 80%;	
			
			
		}
	  }
   @media only screen and (max-width: 700px) {
	   	#Logo{
			
			width: 200px;;
			height: 150px;
		}
	   }
  @media only screen and (max-width: 600px) {
	   	#Logo{
			
			width: 110px;;
			height: 100px;
		}
		.Social_Menu{
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-columns: 1fr;
			
			
		}
		.Body_Content{
			margin: 0 auto;
			
		}
		#Header{
			
			
			font-weight: 900;
			
			position: relative;
			right: 0;
			left: 0;
			top: 50px;
			padding-left:25px;
			padding-right:25px;
			margin: 0 auto;
			
			width: 80%;
			
			
		}
	   }
  
 
  
  
 
  