body{
	background-color: black;
	
}
#main{
	min-width: 50%;
	width: 50%;
	min-height: 75%;
	height: 300px;
	background-color: darkred;
	margin: 0 auto;
	margin-top: 10%;
}
#main_header{
	
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	
	
}
#main_body{
	margin:  0 auto;
	margin-top: 50px;
	text-align: center;
}
